.dark-background{
  background-color: #020000;
}

.bulb-img{
   width:200px;
   
}

.cat-img{
   width:150px;
   background-color:#0b0b0b
}

.switch-board{
   background-color:#7b8794 ;
   width:300px;
   height: 150px;
   padding-left:30px;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 20px;
   margin:10px;


}


.switch-status{
   color: white;
}

.on-switch{
   color:#ffffff;
   background-color: rgb(36, 223, 61);
   font-family: "Roboto";
   font-size: 24px;
   font-weight:bold;
   width: 90px;
   height: 44px;
   border-radius: 8px;
}
.off-switch{
   color:#ffffff;
   background-color:#e81111 ;
   font-family: "Roboto";
   font-size: 24px;
   font-weight:bold;
   width: 90px;
   height: 44px;
   border-radius: 8px;
}
